<div class="container p-3 my-3 border">
    <div class="card border-light mb-3">
        <div class="card-header">Tipo de Contribuyente</div>
        <div class="card-body">

            <div class="d-grid my-2">
                <button class="btn btn-warning" routerLink="/tipo_contribuyente">Volver</button>
            </div>

            <form action="post" #form="ngForm" (ngSubmit)="tipoContribuyente.idTipoContribuyente? editar(form) : crear(form)">
        
                <div class="mb-3">
                    <label for="email">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="tipoContribuyente.nombre" required>
                </div>
                
                <div class="d-grid">
                    <button class="btn btn-primary">{{tipoContribuyente.idTipoContribuyente == null ? 'Crear':'Editar'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>