<div class="container p-3 my-3 border">
  <div class="card border-light mb-3">
    <div class="card-header">Tipo de Documento</div>
    <div class="card-body">

      <div class="d-grid my-2">
        <button class="btn btn-primary" routerLink="/tipo_documento/form">Agregar Documento</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Codigo</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of tipoDocumento" class="table-light">
            <td>{{documento.idTipoDocumento}}</td>
            <td>{{documento.nombre}}</td>
            <td>{{documento.descripcion}}</td>
            <td>{{documento.codigo}}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm" [routerLink]="['form/', documento.idTipoDocumento]"><i class="bi bi-pencil-square"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(documento)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>